@using EASYBL.model.Helpers;
@model IEnumerable<EASYBL.model.Helpers.BillResponseDto>
@{
    ViewBag.Title = "Bill/Data";
    Layout = "~/Views/Shared/_BillCommonLayout.cshtml";
}
@*filterForm*@
<nav class="navbar bg-light mx-2 my-2">
    <form class="container-fluid  border-5 p-2" action="/Bill/Data" method="post">
        <div class="input-group">
            <input type="date" name="date" class="form-control mx-1 " placeholder="Date" aria-label="Username" aria-describedby="basic-addon1">
            <input type="text" name="name" class="form-control mx-1" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
            <input type="number" name="billNo" class="form-control mx-1" placeholder="BillNo" aria-label="Username" aria-describedby="basic-addon1">
            <button class="btn btn-dark mx-1">Submit</button>
        </div>
    </form>
</nav>
@*showingData*@
<div class="Outter_container">
    <table class="table border m-3">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">TotalAmount</th>
                <th scope="col">TotalQuantity</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.BillObject.BillNo</th>
                    <td>@item.BillObject.RecivedDate.Date</td>
                    <td>@item.BillObject.CustomerName</td>
                    <td>@item.BillObject.CustomerPhoneNumber</td>
                    <td>@item.BillObject.Amount</td>
                    <td>@item.BillObject.TotalQuantity</td>
                    <td>
                        <a href="/getById/@item.BillObject.BillNo" class="btn btn-dark">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container" style="display:flex;justify-content:center;text-align:center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <button class="page-link" href="#" aria-label="Previous" onclick="DecrementValue()">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <button class="page-link" href="#" aria-label="Next" onclick="IncreamentPage()">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
        </ul>
    </nav>
</div>

