@using EASYBL.model.Helpers;
@model IEnumerable<EASYBL.model.Helpers.BillResponseDto>
@{
    ViewBag.Title = "Bill/Filter";
    Layout = "~/Views/Shared/_BillCommonLayout.cshtml";
}
@*filterForm*@
<nav class="navbar bg-light">
    <form class="container-fluid  border-5 p-2" action="/Bill/Filter" method="post">
        <div class="input-group">
            <input type="date" name="date" class="form-control mx-1 " placeholder="Date" aria-label="Username" aria-describedby="basic-addon1">
            <input type="text" name="name" class="form-control mx-1" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
            <input type="number" name="billNo" class="form-control mx-1" placeholder="BillNo" aria-label="Username" aria-describedby="basic-addon1">
            <button class="btn btn-dark mx-1">Submit</button>
        </div>
    </form>
</nav>
@*showingData*@
@if (Model != null)
{
    <div class="Outter_container">
        <table class="table border m-3">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">TotalAmount</th>
                    <th scope="col">TotalQuantity</th>
                    <th scope="col">Details</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.BillObject.BillNo</th>
                        <td>@item.BillObject.RecivedDate.Date</td>
                        <td>@item.BillObject.CustomerName</td>
                        <td>@item.BillObject.CustomerPhoneNumber</td>
                        <td>@item.BillObject.Amount</td>
                        <td>@item.BillObject.TotalQuantity</td>
                        <td>
                            <a href="/getById/@item.BillObject.BillNo" class="btn btn-dark">Details</a>
                        </td>
                        <td>
                            <a href="/Delete/@item.BillObject.BillNo" class="btn btn-dark">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <div class="container" style="text-align:center;color:red"><h1>Refresh the page</h1></div>
}
